.iridescence-container {
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(0.8);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #bebebe 0%,
    #575656 30%,
    #e7e7e7 60%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.no-focus {
  outline: none;
}

.no-focus:focus,
.no-focus:active,
.no-focus:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}

.gallery.count-1 > *:first-child:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}
.gallery.count-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 270px;
  gap: 5px;
}

.gallery.count-2 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery.count-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 170px 170px;
  gap: 5px;
}

.gallery.count-3 > :first-child {
  grid-row: span 2;
  width: 280px;
}

.gallery.count-3 > * {
  height: 100%;
  object-fit: cover;
}

.gallery.count-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-auto-rows: 200px;
}

.gallery.count-4 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery.gallery.count-5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.gallery.count-5 > *:nth-child(1),
.gallery.count-5 > *:nth-child(2) {
  grid-column: span 3;
}

.gallery.count-5 > *:nth-child(3),
.gallery.count-5 > *:nth-child(4),
.gallery.count-5 > *:nth-child(5) {
  grid-column: span 2;
}

.gallery.count-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: 180px;
}

.gallery.count-6 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery.count-6 {
  display: grid;
}

.gallery.count-7 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.gallery.count-7 > *:nth-child(1) {
  grid-column: span 6;
}

.gallery.count-7 > *:nth-child(2),
.gallery.count-7 > *:nth-child(3),
.gallery.count-7 > *:nth-child(4) {
  grid-column: span 2;
}

.gallery.count-7 > *:nth-child(5),
.gallery.count-7 > *:nth-child(6),
.gallery.count-7 > *:nth-child(7) {
  grid-column: span 2;
}

.gallery.count-8 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.gallery.count-8 > *:nth-child(1),
.gallery.count-8 > *:nth-child(2) {
  grid-column: span 3;
}

.gallery.count-8 > *:nth-child(3),
.gallery.count-8 > *:nth-child(4),
.gallery.count-8 > *:nth-child(5) {
  grid-column: span 2;
}

.gallery.count-8 > *:nth-child(6),
.gallery.count-8 > *:nth-child(7),
.gallery.count-8 > *:nth-child(8) {
  grid-column: span 2;
}

.gallery.count-9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: 200px;
}

.gallery.count-9 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery.count-10 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.gallery.count-10 > *:nth-child(1) {
  grid-column: span 6;
}

.gallery.count-10 > *:nth-child(2),
.gallery.count-10 > *:nth-child(3),
.gallery.count-10 > *:nth-child(4) {
  grid-column: span 2;
}

.gallery.count-10 > *:nth-child(5),
.gallery.count-10 > *:nth-child(6),
.gallery.count-10 > *:nth-child(7) {
  grid-column: span 2;
}

.gallery.count-10 > *:nth-child(8),
.gallery.count-10 > *:nth-child(9),
.gallery.count-10 > *:nth-child(10) {
  grid-column: span 2;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

/* Chrome, Edge, Safari */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: #313131;
  border-radius: 50%;
  margin-top: -3px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 4px;
  background: #ffffff;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: #313131;
  border-radius: 50%;
}

