.iridescence-container {
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(0.8);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #bebebe 0%,
    #575656 30%,
    #e7e7e7 60%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.no-focus {
  outline: none;
}

.no-focus:focus,
.no-focus:active,
.no-focus:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}

@media (min-width: 768px) {
  /* laptop + desktop styles here */
  .gallery.count-1 > *:first-child:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
  }

  .gallery.count-1 > *:first-child:has(video) {
    height: 350px;
    width: 220px;
  }

  .gallery.count-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 270px;
    gap: 5px;
    width: 100%;
  }

  .gallery.count-2 > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 170px 170px;
    gap: 5px;
    width: 100%;
  }

  .gallery.count-3 > :first-child {
    grid-row: span 2;
    width: 280px;
  }

  .gallery.count-3 > * {
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: 200px;
    width: 100%;
  }

  .gallery.count-4 > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: 100%;
  }

  .gallery.count-5 > *:nth-child(1),
  .gallery.count-5 > *:nth-child(2) {
    grid-column: span 3;
  }

  .gallery.count-5 > *:nth-child(3),
  .gallery.count-5 > *:nth-child(4),
  .gallery.count-5 > *:nth-child(5) {
    grid-column: span 2;
  }

  .gallery.count-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 180px;
    width: 100%;
  }

  .gallery.count-6 > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-6 {
    display: grid;
  }

  .gallery.count-7 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: 100%;
  }

  .gallery.count-7 > *:nth-child(1) {
    grid-column: span 6;
    height: 250px;
  }

  .gallery.count-7 > *:nth-child(2),
  .gallery.count-7 > *:nth-child(3),
  .gallery.count-7 > *:nth-child(4) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-7 > *:nth-child(5),
  .gallery.count-7 > *:nth-child(6),
  .gallery.count-7 > *:nth-child(7) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-8 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: 100%;
  }

  .gallery.count-8 > *:nth-child(1),
  .gallery.count-8 > *:nth-child(2) {
    grid-column: span 3;
    height: 220px;
  }

  .gallery.count-8 > *:nth-child(3),
  .gallery.count-8 > *:nth-child(4),
  .gallery.count-8 > *:nth-child(5) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-8 > *:nth-child(6),
  .gallery.count-8 > *:nth-child(7),
  .gallery.count-8 > *:nth-child(8) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-9 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 150px;
    width: 100%;
  }

  .gallery.count-9 > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-10 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: 100%;
  }

  .gallery.count-10 > *:nth-child(1) {
    grid-column: span 6;
    height: 250px;
  }

  .gallery.count-10 > *:nth-child(2),
  .gallery.count-10 > *:nth-child(3),
  .gallery.count-10 > *:nth-child(4) {
    grid-column: span 2;
    height: 150px;
  }

  .gallery.count-10 > *:nth-child(5),
  .gallery.count-10 > *:nth-child(6),
  .gallery.count-10 > *:nth-child(7) {
    grid-column: span 2;
    height: 150px;
  }

  .gallery.count-10 > *:nth-child(8),
  .gallery.count-10 > *:nth-child(9),
  .gallery.count-10 > *:nth-child(10) {
    grid-column: span 2;
    height: 150px;
  }
}

/* Gallery Mobile Styling */

@media (max-width: 600px) {
  .gallery.count-1 > *:first-child:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
  }

  .gallery.count-1 > *:first-child:has(video) {
    height: 350px;
    width: 220px;
  }

  .gallery.count-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 180px;

    gap: 5px;
  }

  .gallery.count-2 > * {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .gallery.count-3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 120px 120px;
    gap: 5px;
    width: 100%;
  }

  .gallery.count-3 > :first-child {
    grid-row: span 2;
  }

  .gallery.count-3 > * {
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 180px;
    gap: 5px;
  }

  .gallery.count-4 > * {
    width: 100%;
    height: 100%;
  }

  .gallery.gallery.count-5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }

  .gallery.count-5 > *:nth-child(1),
  .gallery.count-5 > *:nth-child(2) {
    grid-column: span 3;
  }

  .gallery.count-5 > *:nth-child(3),
  .gallery.count-5 > *:nth-child(4),
  .gallery.count-5 > *:nth-child(5) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 120px;
  }

  .gallery.count-6 > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-6 {
    display: grid;
  }

  .gallery.count-7 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }

  .gallery.count-7 > *:nth-child(1) {
    grid-column: span 6;
    height: 180px; /* Add this - adjust the value as needed */
  }

  .gallery.count-7 > *:nth-child(2),
  .gallery.count-7 > *:nth-child(3),
  .gallery.count-7 > *:nth-child(4) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-7 > *:nth-child(5),
  .gallery.count-7 > *:nth-child(6),
  .gallery.count-7 > *:nth-child(7) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-8 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }

  .gallery.count-8 > *:nth-child(1),
  .gallery.count-8 > *:nth-child(2) {
    grid-column: span 3;
  }

  .gallery.count-8 > *:nth-child(3),
  .gallery.count-8 > *:nth-child(4),
  .gallery.count-8 > *:nth-child(5) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-8 > *:nth-child(6),
  .gallery.count-8 > *:nth-child(7),
  .gallery.count-8 > *:nth-child(8) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-9 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 125px;
  }

  .gallery.count-9 > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery.count-10 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }

  .gallery.count-10 > *:nth-child(1) {
    grid-column: span 6;
  }

  .gallery.count-10 > *:nth-child(2),
  .gallery.count-10 > *:nth-child(3),
  .gallery.count-10 > *:nth-child(4) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-10 > *:nth-child(5),
  .gallery.count-10 > *:nth-child(6),
  .gallery.count-10 > *:nth-child(7) {
    grid-column: span 2;
    height: 120px;
  }

  .gallery.count-10 > *:nth-child(8),
  .gallery.count-10 > *:nth-child(9),
  .gallery.count-10 > *:nth-child(10) {
    grid-column: span 2;
    height: 120px;
  }
}

.galleryDeleteUI.count-1 > *:first-child:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 300px;
}

.galleryDeleteUI.count-1 > *:first-child:has(video) {
  height: 245px;
  width: 220px;
}

.galleryDeleteUI.count-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 189px;
  gap: 5px;
  width: 100%;
}

.galleryDeleteUI.count-2 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryDeleteUI.count-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 119px 119px;
  gap: 5px;
  width: 100%;
}

.galleryDeleteUI.count-3 > :first-child {
  grid-row: span 2;
  width: 280px;
}

.galleryDeleteUI.count-3 > * {
  height: 100%;
  object-fit: cover;
}

.galleryDeleteUI.count-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-auto-rows: 140px;
  width: 100%;
}

.galleryDeleteUI.count-4 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryDeleteUI.count-5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  width: 100%;
}

.galleryDeleteUI.count-5 > *:nth-child(1),
.galleryDeleteUI.count-5 > *:nth-child(2) {
  grid-column: span 3;
}

.galleryDeleteUI.count-5 > *:nth-child(3),
.galleryDeleteUI.count-5 > *:nth-child(4),
.galleryDeleteUI.count-5 > *:nth-child(5) {
  grid-column: span 2;
}

.galleryDeleteUI.count-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: 126px;
  width: 100%;
}

.galleryDeleteUI.count-6 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryDeleteUI.count-7 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  width: 100%;
}

.galleryDeleteUI.count-7 > *:nth-child(1) {
  grid-column: span 6;
  height: 175px;
}

.galleryDeleteUI.count-7 > *:nth-child(2),
.galleryDeleteUI.count-7 > *:nth-child(3),
.galleryDeleteUI.count-7 > *:nth-child(4) {
  grid-column: span 2;
  height: 84px;
}

.galleryDeleteUI.count-7 > *:nth-child(5),
.galleryDeleteUI.count-7 > *:nth-child(6),
.galleryDeleteUI.count-7 > *:nth-child(7) {
  grid-column: span 2;
  height: 84px;
}

.galleryDeleteUI.count-8 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  width: 100%;
}

.galleryDeleteUI.count-8 > *:nth-child(1),
.galleryDeleteUI.count-8 > *:nth-child(2) {
  grid-column: span 3;
  height: 154px;
}

.galleryDeleteUI.count-8 > *:nth-child(3),
.galleryDeleteUI.count-8 > *:nth-child(4),
.galleryDeleteUI.count-8 > *:nth-child(5) {
  grid-column: span 2;
  height: 84px;
}

.galleryDeleteUI.count-8 > *:nth-child(6),
.galleryDeleteUI.count-8 > *:nth-child(7),
.galleryDeleteUI.count-8 > *:nth-child(8) {
  grid-column: span 2;
  height: 84px;
}

.galleryDeleteUI.count-9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: 105px;
  width: 100%;
}

.galleryDeleteUI.count-9 > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryDeleteUI.count-10 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  width: 100%;
}

.galleryDeleteUI.count-10 > *:nth-child(1) {
  grid-column: span 6;
  height: 175px;
}

.galleryDeleteUI.count-10 > *:nth-child(2),
.galleryDeleteUI.count-10 > *:nth-child(3),
.galleryDeleteUI.count-10 > *:nth-child(4) {
  grid-column: span 2;
  height: 105px;
}

.galleryDeleteUI.count-10 > *:nth-child(5),
.galleryDeleteUI.count-10 > *:nth-child(6),
.galleryDeleteUI.count-10 > *:nth-child(7) {
  grid-column: span 2;
  height: 105px;
}

.galleryDeleteUI.count-10 > *:nth-child(8),
.galleryDeleteUI.count-10 > *:nth-child(9),
.galleryDeleteUI.count-10 > *:nth-child(10) {
  grid-column: span 2;
  height: 105px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

/* Chrome, Edge, Safari */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: #313131;
  border-radius: 50%;
  margin-top: -3px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 4px;
  background: #ffffff;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: #313131;
  border-radius: 50%;
}

/* Shimmer base */
.isLoading {
  background: linear-gradient(
    110deg,
    var(--shimmer-base) 25%,
    var(--shimmer-highlight) 37%,
    var(--shimmer-base) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

/* Light mode */
:root {
  --shimmer-base: #e5e7eb;
  --shimmer-highlight: #f3f4f6;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --shimmer-base: #2a2a2a;
    --shimmer-highlight: #3a3a3a;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.emojiGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
.gifGallery {
  column-count: 2;
  column-gap: 5px;
  flex: 1;
}

.gifGallery > * {
  break-inside: avoid;
  border-radius: 10px;
  margin-bottom: 4px;
  max-height: 300px;
  overflow: hidden;
}

.gifGallery > * video {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.gif-skeleton {
  background: linear-gradient(
    110deg,
    var(--shimmer-base) 25%,
    var(--shimmer-highlight) 37%,
    var(--shimmer-base) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 8px;
  padding: 10px;
}

.gif-skeleton:nth-child(3n + 1) {
  height: 150px;
}
.gif-skeleton:nth-child(3n + 2) {
  height: 200px;
}
.gif-skeleton:nth-child(3n + 3) {
  height: 180px;
}

.messageItem {
  border-left: 2px solid;
  border-color: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.messageItem:hover {
  background: var(--chakra-colors-bg-muted);
}

.selectedReplyTo {
  background-color: var(--chakra-color-blue-300);
  border-left: 2.5px solid;
  border-color: var(--selectedReplyToBorder);
}

.selectedReplyTo:hover {
  background-color: var(--selectedReplyToBg);
}

@keyframes highlightFade {
  0%,
  75% {
    background-color: var(--selectedReplyToBgThick) !important;
  }
  100% {
    background-color: var(--selectedReplyToBg);
  }
}

.message-blink {
  animation: highlightFade 4s ease-out forwards;
}

.emojiContainer {
  display: inline-block;
}

.emoji {
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: bottom;
}

.forwardMsg {
  padding-left: 10px;
  position: relative;
}

.forwardMsg::before {
  content: "";
  height: 95%;
  width: 4px;
  background-color: var(--chakra-colors-fg);
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}

.emojiItem {
  padding: 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  background-size: 41px;
  border-radius: 8px;
}

.emojiItem {
  border: none; /* Remove border */
}

.emojiItem:hover {
  background-color: var(--chakra-colors-bg-emphasized);
}

.emojiItem:focus {
  border: none;
  outline: none;
}

.emojiItem:focus-visible {
  outline: none;
}



.reactionEmojiItem{
  width: 25px;
  height: 25px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}