.iridescence-container {
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(0.8);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #bebebe 0%,
    #575656 30%,
    #e7e7e7 60%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.no-focus {
  outline: none;
}

.no-focus:focus,
.no-focus:active,
.no-focus:focus-visible {
  outline: none;
  box-shadow: none;
  border: none; /* remove if you still want border */
}


