.bgcolors {
  background: hsla(0, 0%, 26%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 26%, 1) 0%,
    hsla(60, 3%, 25%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 26%, 1) 0%,
    hsla(60, 3%, 25%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 26%, 1) 0%,
    hsla(60, 3%, 25%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#434343", endColorstr="#43433F", GradientType=1 );
}
