/* Regular */
@font-face {
  font-family: "gg-sans";
  src: url("/fonts/gg sans Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "gg-sans";
  src: url("/fonts/gg sans Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Semibold */
@font-face {
  font-family: "gg-sans";
  src: url("/fonts/gg sans Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "gg-sans";
  src: url("/fonts/gg sans Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
